## Default ignored files
#/shelf/
#/.idea/workspace.xml
## Editor-based HTTP Client requests
#/httpRequests/
## Datasource local storage ignored files
#/dataSources/
#/dataSources.local.xml

# User-specific files
.idea/
*.iws

# IntelliJ project files
*.iml
out/

# Temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.class
*.jar
*.war

# Dependency directories
lib/